<div class="container">
    <h2>Login</h2>
    <form (ngSubmit)="onLogin()">
      <div>
        <label for="username">Username:</label>
        <input [(ngModel)]="username" name="username" placeholder="Enter your username" required />
      </div>
      <div>
        <label for="password">Password:</label>
        <input [(ngModel)]="password" name="password" placeholder="Enter your password" type="password" required />
      </div>
      <button type="submit">Login</button>
    </form>
    <!-- <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div> -->
    <p>Don't have an account? <a routerLink="/register">Register here</a></p>
  </div>
  